.btn{

  background-color: black;
  color: white;
  border-radius: 4px;
  padding : 10px;
  margin-left : 8px;
  
}

.btn:hover{

  cursor : pointer;
  

}

.input{

  padding : 10px;



}

.App{
  display : flex;
  height:500px;
  justify-content: center;
  align-items: center;
}